{
    "px_options": {
        "rootValue": 16,
        "replace": true,
        "propList": ["font", "font-size", "line-height", "letter-spacing"]
    },
    "pt_options": {
        "rootValue": 12,
        "replace": true,
        "propList": ["font", "font-size", "line-height", "letter-spacing"]
    }
}
